.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 32px;
  border: 1px solid red;
  height: fit-content;
}

@media only screen and (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
