

.performances th:first-of-type {
  font-style: italic;
  text-transform: none;
}

.resume {
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
	grid-column: 2;
}

.resume th:first-of-type {
	text-align: left;
	text-wrap: nowrap;
}

.resume thead {
  display: none;
}

.resume tr {
  width: 100%;
}

.resume th {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

.resume caption {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.resume ul {
  list-style: none;
}

.performances tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.performances tbody tr {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.headshotResume {
  display: grid;
  grid-template-columns: minmax(0, 300px) minmax(0, 2fr);
  column-gap: 32px;
}

.education tbody {
	width: 100%;
}

.education tbody tr {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.education tbody tr td {
	grid-column: span 2;
}


.swiper {
  width: min-content;
  display: block;
}

.downloads {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.downloads li {
  list-style: none;
  grid-column: auto;
  display: flex;
}

