.box {
  display: inline-grid;
  grid-template-columns: 1fr;
  margin-bottom: 8px;
  text-align: center;
  width: 350px;
  /* border: 1px solid red; */
  user-select: none;
  color: var(--foreground);
  text-transform: uppercase;
}


.box:hover, .box:focus, .box:active {
  cursor: pointer;
  color: var(--highlight);
  transition: color 200ms ease;
}

.heading {
  font-weight: 500;
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  margin-bottom: -10px;
  /* border: 1px solid red; */
}

.capital {
  font-size: 120%;
}

.subheading {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
}

/* .subheading span {
  border: 1px solid lime;
} */

.underline {
  border: 1px solid var(--foreground);
  border-radius: 2px;
  margin-bottom: 4px;
}

.box:hover .underline, .box:focus .underline, .box:focus .underline {
  border: 1px solid var(--highlight);
  transition: border 200ms ease;
}

.box:hover .sword, .box:focus .sword, .box:focus .sword {
  transform: rotate(360deg);
  transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 350px) {
  .box {
    width: 320px;
    font-size: 90%;
  }
}
