.index_container {
  display: grid;
  min-width: 0;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.slideshow {
  grid-column: 1;
}

.about {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about a {
  cursor: pointer;
  text-decoration: underline;
}

.about a:hover, .about a:active {
  color: var(--highlight);
  transition: color 200ms ease; 
}
