.index_container {
  display: grid;
  min-width: 0;
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 625px;
}

.about a {
  cursor: pointer;
  text-decoration: underline;
}

.about a:hover, .about a:active {
  color: var(--highlight);
  transition: color 200ms ease; 
}

.text {
  position: relative;
  z-index: 9999;
  padding: 8px 12px;
  border-radius: 4px;
  top: -160px;
  right: -250px;
}

.text h2, .text p, .text h3 {
  background-color: var(--background);
  padding: 8px 12px;
  width: fit-content;
}
