.box {
  display: inline-block;
  max-width: 100%;
  min-width: fit-content;
}

.boxInner {
  border-bottom: 2px solid var(--foreground);
  text-align: center;
  text-wrap: nowrap;
  width: fit-content;
}

/* .box:hover, .box:active, .box:focus {
  color: var(--highlight);
  transition: color 200ms ease;
} */

.box:hover .boxInner, .box:active .boxInner, .box:focus .boxInner{
  color: var(--highlight);
  border-bottom: 2px solid var(--highlight);
  transition: 200ms ease;
}


@media only screen and (min-width: 700px) {
  .box {
    height: 46px;
    position: relative;
    display: flex;
    align-items: bottom;
    margin-bottom: 8px;
  }
  .boxInner {
    position: absolute;
    bottom: 0;
  }
}
